*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.mpb
*.~mm
*.groupproj.local
*.tvsconfig
*.local
*.identcache
*.rsm
*.~pas
*.~dfm
*.~ddp
*.o
*.ppu
*.dbg
*.or
*.lps
*.compiled
Win32/
Win64/
*.a
*.~inc
backup/
backups/
*.res
/data
*.log
*.exe
/release
/work/original_resources
/source/lib
backup.bat
*.bpprj
*.ps1
backup.bat
backup.txt
*.ini
